{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center">
    <h1>Welcome AcademicApp </h1>
    <p class="lead text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In esse quia, officiis sapiente explicabo modi ea iusto dicta voluptas
        iste consectetur eum, voluptatibus fugit ad tenetur et nulla impedit dolores. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Suscipit officia nihil nemo blanditiis cumque aliquam nobis quos, debitis et velit saepe illo soluta
        voluptates aspernatur quisquam doloremque necessitatibus natus reprehenderit!
    </p>
</div>
{% endblock %}